@model Revision_Take1.Models.AzureStorage

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<div>
    <h4>AzureStorage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.storageAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storageAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Redundancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Redundancy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Recalculate", "Create")
</p>
